*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'gilroy',sans-serif;
}
#TopSection{
    width: 100%;
    height: 45%;
    background-color: #011723;
    display: flex;
    align-items: center;
    justify-content:center;
}
#TopSection h1{
    font-weight: 600;
    color: white;
    font-size: 48px;
}
#nav{
    top: 0;
    position: fixed;
    z-index:1000;
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between  ;
    background-color: #011723;
}
#nav #Logo{
    width: 15%;
    height: 100%;
}
#nav #Logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#nav #Links{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.5%;
}
#nav #Links h2 a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;    
}
#nav #Links button{
    width: 175px;
    height: 45px;
    background-color:white;
    border-radius: 40px;
    color:#011723;
    font-weight: 600;
    font-size:20px;
    border: transparent;
}
#nav #Links button a{
    text-decoration: none;
    color: inherit;
}
#nav #Links button:hover{
    background-color: skyblue;
    color: white;
}
#EventSec{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0px;
}
#EventBox{
    width:55%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
#EventBox .EventCard{
    position: relative;
    width: 325px;
    height: 535px;
    overflow: hidden;
    border: 0.1px solid rgb(209, 209, 209);
}
.div1 {
    width: 100%;
    height: 535px;
    position: absolute;
    top: 0;
    left: 0;
}
.div1 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.div2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 535px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top 0.5s ease;
}
.div2 h2{
    margin: 10px 25px;
    font-weight: 600;
    font-size: 22px;
    color: #00101D;
}
.div2 h3{
    margin: 10px 25px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color:black;
}
.div2 h4{
    margin: 10px 40px;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color:black;
}
.div2 button{
    width:auto;
    height:auto;
    padding: 10px 40px;
    margin-top: 20px;
    border: transparent;
    border-radius: 50px;
    color: white;
    background-color:#00101D;
    font-weight: 600;
    font-size: 16px;
}
.div2 button a{
    text-decoration: none;
    color: inherit;
}
.div2 button:hover{
    background-color: skyblue;
}
.EventCard:hover .div2 {
    top: 0;
}
#ContactSection{
    width: 100%;
    height: 55%;
    background-color:#011723;
}
#ContactSection #ContactBox{
    width: 50%;
    height: 100%;
    margin-left: 25%;
    display: flex;
}
#ContactBox #Left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ContactBox #LeftImage{
    width: 30%;
    height: 30%;
    background-color: rgb(134, 145, 145);
    margin:5%;
}
#ContactBox #LeftImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ContactBox #LeftDetail{
    width: 100%;
    height: 30%;
}
#Left #LeftDetail h1{
    color: white;
    font-weight:300;
    font-size: 16px;
    line-height: 24px;
}
#Left #LeftDetail #Sociallink{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
#Left #LeftDetail #Sociallink .Circle{
    width: 40px;
    height: 40px;
    background-color: white;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ContactBox #Right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#ContactBox #Right #RightDetails{
    width: 100%;
    height: 25%;
    margin-top: 45%;
    padding: 40px 0px;
}
#RightDetails h1{
    font-weight: 500;
    color: white;
    font-size: 28px;
}
#RightDetails h2{
    font-weight: 100;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}