*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'gilroy',sans-serif;
}
#TopSection{
    width: 100%;
    height: 45%;
    background-color: #011723;
    display: flex;
    align-items: center;
    justify-content:center;
}
#TopSection h1{
    font-weight: 600;
    color: white;
    font-size: 48px;
}
#nav{
    top: 0;
    position: fixed;
    z-index:1000;
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between  ;
    background-color: #011723;
}
#nav #Logo{
    width: 15%;
    height: 100%;
}
#nav #Logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#nav #Links{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.5%;
}
#nav #Links h2 a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;    
}
#nav #Links button{
    width: 175px;
    height: 45px;
    background-color:white;
    border-radius: 40px;
    color:#011723;
    font-weight: 600;
    font-size:20px;
    border: transparent;
}
#nav #Links button a{
    text-decoration: none;
    color: inherit;
}
#nav #Links button:hover{
    background-color: skyblue;
    color: white;
}
#SpeakersBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0px;
    height: auto;
}
#TeamBox {
    width: 55%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    height: auto;
}
#TeamHead {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
}

#TeamHead h2{
    margin: 25px 0px;
    color: #011723;
    font-weight: 400;
    font-size: 28px;
}
#TeamHead h1{
    margin: 25px 0;
    color: #011723;
    font-weight: 600;
    font-size: 36px;
}
#TeamMemberBox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    justify-items: center;
    align-items: start;
}
.cards {
    width: 330px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
}
.cardimg {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cardimg img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.cardsdetail {
    box-sizing: border-box;
    word-wrap: break-word;
    width: 100%;
    background-color: #E8E6E6;
    padding: 30px 10px;
    font-size: 16px;
    line-height: 1.5;
    height: auto;
}
#ContactSection{
    width: 100%;
    height: 55%;
    background-color:#011723;
}
#ContactSection #ContactBox{
    width: 50%;
    height: 100%;
    margin-left: 25%;
    display: flex;
}
#ContactBox #Left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ContactBox #LeftImage{
    width: 30%;
    height: 30%;
    background-color: rgb(134, 145, 145);
    margin:5%;
}
#ContactBox #LeftImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ContactBox #LeftDetail{
    width: 100%;
    height: 30%;
}
#Left #LeftDetail h1{
    color: white;
    font-weight:300;
    font-size: 16px;
    line-height: 24px;
}
#Left #LeftDetail #Sociallink{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
#Left #LeftDetail #Sociallink .Circle{
    width: 40px;
    height: 40px;
    background-color: white;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ContactBox #Right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#ContactBox #Right #RightDetails{
    width: 100%;
    height: 25%;
    margin-top: 45%;
    padding: 40px 0px;
}
#RightDetails h1{
    font-weight: 500;
    color: white;
    font-size: 28px;
}
#RightDetails h2{
    font-weight: 100;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}